@page
@{
    Layout = "~/FrontEnd/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Página Inicial";
}

<div class="lock-overlay">
    <h1 class="lock-welcome">ALIEBRECHO SNBM</h1>
    <a asp-area="" asp-page="/Accounts/Login" class="lock-login">
        <i class="fas fa-lock lock-icon"></i>
    </a>
</div>

